// Unsets everything so that the only things rendered and visible are the things you style in this file.
* { all: unset; }

// sytles the entire bar
.full-bar {
    // orig values I was playing with
    //color: rgba(#949494, 1);
    background-color: rgba(#0f0f17, .80);
    border-radius: 16px;
    border-style: solid;
    border-color: rgba(129, 157, 189, 1);
    border-width: 2px;
}

.module-time {
  color: #9FB5D4;
}

.separ {
    color: #9FB5D4;
    //font-weight: bold;
    font-size: 12px;
    margin: 0px 6px 0px 6px;
}

.start_icon {
  color: #9FB5D4;
  font-size: 20px;
  margin: 3px 20px 3px 10px;
}

.act_workspace {
  color: #9FB5D4;
  margin-left: 4px;
  margin-right: 4px;
}

// workspace styling, copy+pasted from hyprland docs
// will eventually customize myself. 
.workspace-entry {
  all: unset;
  padding-left: 4px;
  padding-right: 4px;
}

.focus_workspace {
  padding-left: 10px;
  //padding-right: 10px;
  color: #9FB5D4;
}

//.workspace-entry 1 {
  //color: red;
  //font-size: 10;
//}

.workspace-bx-current {
  color: red;
  font-size: 20;
  //padding-left: 4px;
}

.workspaces {
  padding-left: 10px;
}

// this is for the battery button
// You can't see it, but it styles the inner
// ball inside the ring. 
.baticon {
  margin: 8px;
  font-size: 10;
}

// Styles the battery module, so the ring that shows the 
// status of the battery, I believe it falls back on the background color
// of the overall bar. 
.battery_module {
  //color: #9FB5D4;
  border-radius: 16px;
  margin: 3px 10px 3px 5px;
}

.memicon {
  margin: 8px;
  font-size: 10;
}

.mem_module {
  color: #9FB5D4;
  border-radius: 16px;
  margin: 3px 5px 3px 10px;
}

.module-wif {
  //all: unset;
  font-size: 22;
  //color: #a1bdce;
  //color: #FF0000;
  border-radius: 100%;
  margin: 0px 15px 0px 0px;
}

//.ip_addr {
  //color: #9FB5D4;
  //margin-right: 10px;
//}

.module-bluetooth {
  font-size: 18;
  color: #a1bdce;
  margin: 0px 10px 0px 0px;;
}

.module_essid {
  font-size: 9;
  color: #a1bdce;
  //margin: 0px 0px 0px 0px;
}

.volume_icon {
  font-size: 22;
  color: #a1bdce;
  margin: 0px 10px 0px 10px;
}

.volbar trough highlight {
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 10px;
}

.bright_icon {
  font-size: 22;
  //color: #E4C9AF;
  color: #a1bdce;
  margin: 0px 10px 0px 10px;
}

.brightbar trough highlight {
  background-image: linear-gradient(to right, #e4c9af 30%, #f2cdcd 50%, #e0b089 100% *50);
  border-radius: 10px;
  //font-size: 20;
  //margin: 0px;
}

scale trough {
  all: unset;
  box-shadow: 0 2px 3px 2px #06060b;
  border-radius: 16px;
  min-height: 10px;
  min-width: 250px;
  margin: 0px 10px 0px 0px;
}


// styles the background of the tooltip that shows
// the percentage of the battery level.
tooltip.background {
    background-color: rgba(#0f0f17, .80);
    font-size: 12;
    border-radius: 10px;
    color: #949494;
}

// styles the label "box", the margins 
// around the text. 
tooltip label {
    margin: 6px;
}

// System (battery and RAM) widget (pop out windows) stuff
.sys_win {
    background-color: #0f0f17;
}

.sys_bat_box {
	border-radius: 16px;
  margin: 15px 10px 10px 20px;
}

.sys_bat {
  color: #afbea2;
  background-color: #38384d;
  border-radius: 10px;
}

.sys_icon_bat {
  color: #afbea2;
  font-size: 30;
  margin: 30px;
}

.sys_text_bat {
  color: #afbea2;
  font-size: 21;
  font-weight: bold;
  margin: 14px 0px 0px 25px;
}

.sys_text_bat_sub {
  font-size: 16;
  color: #bbc5d7;
  margin: 5px 0px 0px 25px;
}

.slider_win {
  background-color: rgba(#0f0f17, .80);
  border-radius: 10px;
}

.vol_slider {
  margin: 10px 10px 10px 10px;
}

.vol_menu_icon {
  font-size: 20;
  margin: 0px 10px 0px 0px;
  color: #a1bdce;

}

.br_slider {
  margin: 10px 10px 10px 10px;
}

.bright_menu_icon {
  font-size: 20;
  margin: 0px 10px 0px 0px;
  color: #e4c9af;
}

.ip_win {
  //background-color: #0f0f17;
  background-color: rgba(#0f0f17, .80);
  border-radius: 10px;
}

.ip_wifi_label {
  margin: 10px 10px 10px 10px;
  font-size: 11;
  color: #a1bdce;
}

.power_win {
  background-color: rgba(#0f0f17, .80);
  border-radius: 10px;
}

.power_icon {
  font-size: 30;
  margin-left: 20px;
  color: #ca3433;
}

.power_txt {
  margin-left: 20px;
  color: #ca3433;
}

.lock_icon {
  font-size: 30;
  margin-left: 25px;
  color: #a1bdce;
}

.lock_txt {
  margin-left: 25px;
  color: #a1bdce;
}
