// Unsets everything so that the only things rendered and visible are the things you style in this file.
* { all: unset; }

// sytles the entire bar
.full-bar {
    // orig values I was playing with
    color: rgba(#949494, 1);
    background-color: rgba(#0f0f17, .80);
    border-radius: 16px;
    border-style: solid;
    border-color: rgba(129, 157, 189, 1);
    border-width: 2px;
}

.module-time {
  color: #9FB5D4;
}

.separ {
    color: #9FB5D4;
    //font-weight: bold;
    font-size: 12px;
    margin: 0px 6px 0px 6px;
}

.start_icon {
  color: #9FB5D4;
  font-size: 20px;
  margin: 3px 20px 3px 10px;
}

.act_workspace {
  color: #9FB5D4;
  margin-left: 4px;
  margin-right: 4px;
}

// workspace styling, copy+pasted from hyprland docs
// will eventually customize myself. 
.workspace-entry {
  all: unset;
  padding-left: 4px;
  padding-right: 4px;
}

.focus_workspace {
  padding-left: 10px;
  //padding-right: 10px;
  color: #9FB5D4;
}

//.workspace-entry 1 {
  //color: red;
  //font-size: 10;
//}

.workspace-bx-current {
  color: red;
  font-size: 20;
  //padding-left: 4px;
}

.workspaces {
  padding-left: 10px;
}

// this is for the battery button
// You can't see it, but it styles the inner
// ball inside the ring. 
.baticon {
    margin: 10px;
    font-size: 2;
}

// Styles the battery module, so the ring that shows the 
// status of the battery, I believe it falls back on the background color
// of the overall bar. 
.battery_module {
  color: #9FB5D4;
  border-radius: 16px;
  margin: 3px 10px 3px 5px;
}

.memicon {
  margin: 10px;
}

.mem_module {
  color: #9FB5D4;
  border-radius: 16px;
  margin: 3px 5px 3px 10px;
}

.module-wif {
  font-size: 22;
  color: #a1bdce;
  border-radius: 100%;
  margin: 0px 15px 0px 0px;
}

.module-bluetooth {
  font-size: 18;
  color: #a1bdce;
  margin: 0px 10px 0px 0px;;
}

.module_essid {
  font-size: 9;
  color: #a1bdce;
  //margin: 0px 0px 0px 0px;
}

.volume_icon {
  font-size: 22;
  color: #a1bdce;
  margin: 0px 10px 0px 10px;
}

.volbar trough highlight {
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 10px;
}

.bright_icon {
  font-size: 22;
  color: #E4C9AF;
  margin: 0px 10px 0px 10px;
}

.brightbar trough highlight {
  background-image: linear-gradient(to right, #e4c9af 30%, #f2cdcd 50%, #e0b089 100% *50);
  border-radius: 10px;
}

scale trough {
  all: unset;
  box-shadow: 0 2px 3px 2px #06060b;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}


// styles the background of the tooltip that shows
// the percentage of the battery level.
tooltip.background {
    background-color: rgba(#0f0f17, .80);
    font-size: 12;
    border-radius: 10px;
    color: #949494;
}

// styles the label "box", the margins 
// around the text. 
tooltip label {
    margin: 6px;
}
