* { all: unset; }

.full-bar {
    // orig values I was playing with
    color: rgba(#949494, 1);
    //background: rgba(#949444, 1);
    background-color: rgba(#0f0f17, .80);
    border-radius: 16px;
    border-style: solid;
    border-color: rgba(129, 157, 189, 1);
    border-width: 2px;
}
